carla==0.9.15
filelock==3.0.12
opencv-python
gymnasium
pygame
networkx>=2.3
scenic @ git+https://github.com/BerkeleyLearnVerify/Scenic.git@serialization
srunner @ git+https://github.com/AutonomousDrivingExaminer/scenario_runner.git@leaderboard-2.0
leaderboard @ git+https://github.com/AutonomousDrivingExaminer/leaderboard.git
pettingzoo
multiprocess
docker
optree